{%- set tmp = [] -%}
{%- set tmp2 = [] -%}
{%- for name in hosts_name -%}
{%- for item in ip -%}
{%- if (item | regex_search('\\b(?!(10)|192\\.168|172\\.(2[0-9]|1[6-9]|3[0-2])|(0.+))[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}')) and item not in tmp-%}
{%- if name not in tmp2 -%}
[{{ name }}]
{{ item }}
{{tmp.append(item)}}
{{tmp2.append(name)}}
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- endfor -%}


    